.jumbotron {
    background-color: #f4f3fb ;
    color: #ffffff;
    margin-bottom: 0px;
}

form {
    margin: 50px;
}

#or_text {
    color: Black;
}

li {
    font-size: 16px;
    color: black;
    font-weight: normal;
}

p {
    font-size: 16px;
    color: black;
    font-weight: normal;
    line-height: 200%;
    margin-top: 20px;
}

.bg-grey {
    background-color: #f4f3fb;

.glyphicon {
    color: red;
}

