.jumbotron {
    background-color: #f4f3fb ;
    color: #ffffff;
}

form {
    margin: 25px;
}

#or_text {
    color: Black;
}

li {
    font-size: 16px;
    color: black;
    font-weight: normal;
}

p {
    font-size: 16px;
    color: black;
    font-weight: normal;
}