.breadcrumb {
    padding-top: 4px;
    margin-top: 50px;
    margin-bottom: 0px !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    color: #333 !important;
}

.breadcrumb-item {
    font-size: 14px;
}



.jumbotron {
    background-color: #f4f3fb ;
    color: #ffffff;
    margin-bottom: 0px;
    padding-top: 80px;
}


form {
    margin: 50px;
}



#or_text {
    color: Black;
}


li {
    font-size: 16px;
    color: black;
    font-weight: normal;
    line-height: 200%;
}



p {
    font-size: 16px;
    color: black;
    font-weight: normal;
    line-height: 200%;
    margin-top: 20px;
}


.bg-grey {
    background-color: #f4f3fb;

}



body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    margin-bottom: 0;
    background-color: #9fdfe1;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}


.navbar li a, .navbar .navbar-brand {
    color: grey !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.navbar-active {
    background-color: #f4f3fb !important;
}

