

.navbar {
  margin-bottom: 0;
  background-color: #9fdfe1 !important;
  z-index: 9999 !important ;
  border: 0 !important ;
  font-size: 16px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px !important;
  border-radius: 0 !important;
  font-family: Montserrat, sans-serif !important;
}


.navbar li a, .navbar .navbar-brand {
  color: grey !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #f4511e !important;
  background-color: #fff !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent !important;
  color: #fff !important;
}

.navbar-active {
  background-color: #f4f3fb !important;
}

.breadcrumb {
  margin-top: 50px;
  margin-bottom: 0px !important;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-size: 14px !important;
  line-height: 1.42857143 !important;
  color: #333 !important;
}


html, body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.announce {
  font-size: 1.5em;
}
/*------------------*/

.lobby_container {
  height: 100%;
  background-color: ghostwhite;
}

.head {
  display: flex;
  justify-content: center;
  width: 100vw;
  color: #bc2da4;
  padding: 25px 0px;
  font-size: 10px;
  margin-bottom: 40px;
}

.maker {
  width: 100vw;
  height: 250px;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*>>>>>>> 457873aa3932af410666d1803e554a43154d4acd*/



.start-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-header {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-header h1 {
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  color: black;
}

.start-buttons * {
  margin: 10px;
}

#start-game {
  outline: none;
  border: none;
  color: black;
  width: 150px;
  cursor: pointer;
}

#start-game:hover{
  background-color: beige;
}

#start-game a {
  color: black;
  font-family: 'Roboto', sans-serif;;
}



/* ---------------------------------------- */
/* -------------- LOBBY PAGE -------------- */
/* ---------------------------------------- */

/* ------------- Room number -------------- */
#room-number {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

#room-number h1 {
  font-size: 25px;
}


/* ------------- Add player -------------- */
#choose-avatar-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  background-color: lightgrey;
  border-radius: 50%;
  border: 5px solid white;
  cursor: pointer;
}

.add-player {
  height: 150px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.add-player form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.add-player form * {
  margin: 10px;
}

#join-game {
  outline: none;
  border: none;
  cursor: pointer;
  height: 70px;
  width: fit-content;
  padding: 10px;
}

#username-input {
  height: 70px;
  width: 300px;
  padding: 5px 25px;
  font-size: 1.9em;
  border: none;
  border-bottom: 3px solid white;
  background: none;
  color: black;
  outline: none;
}

/* ---------- Avatar overview ----------- */
#avatar-box {
  border-radius: 5px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border: 2px solid grey;
  justify-content: space-evenly;
  padding: 20px 30px;
  position: fixed;
  width: 50vw;
  height: 50vh;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 5px grey;
}

#avatar-overview {
   height: 90%;
   overflow-y: auto;
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
 }

.small-avatars {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px;
  border: 5px solid white;
  transition: transform .2s;
  box-shadow: 0px 0px 5px grey;
}

.small-avatars:hover {
  transform: scale(1.05);
  border: 5px solid grey;

}

#avatar {
  width: 100px;
  height: 100px;
  margin-right: 50px;
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 0px 0px 5px grey;
}

#cancel-submit {
  position: absolute;
  bottom: 2%;
  display: flex;
  justify-content: space-evenly;
  height: 10%;
  width: 100%;
}

#cancel-submit button {
  height: 40px;
  width: fit-content;
  padding: 0px 20px;
}

#greeting {
  font-size: 60px;
}

/* ---------- Player overview ----------- */
.player-overview {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 200px;
  width: 100vw;
  flex-wrap: wrap;
  padding-bottom: 130px;
}

.player-icon {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  animation: ease-in;
  border: 10px solid white;
}

.player-div {
  height: 205px;
  min-width: 170px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: purple;
  margin: 10px;
  padding: 15px 0px 10px 0px;
  box-shadow: 0px 0px 5px grey;
}

.player-div p {
  font-size: 1.1em;
  color: white;
}

#start-game-form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: white;
  padding: 40px;
}


/* ---------------------------------------- */
/* ----------- DISTRIBUTION PAGE ---------- */
/* ---------------------------------------- */

/*.header {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*}*/


/* CARDS ANIMATION*/

#card-animation{
    margin-left: 10%;
=======
  height: 50px;
  width: 50px;
  background-color: lightgrey;
  border-radius: 50%;
  border: 3px solid purple;
  cursor: pointer;
}



.cards {
  width: 250px;
  height: 170px;
  margin: 40px;
  padding: 20px;
  color: white;
  font-size: large;
  position: absolute;
  box-shadow: 2px 2px 5px grey;
  border-radius: 5%;
}

#card1 {
  animation-name: shuffle;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

#card2 {
  animation-name: shuffle;
  animation-duration: 1s;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

#card3 {
  animation-name: shuffle;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

#card4 {
  animation-name: shuffle;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

#card5 {
  animation-name: shuffle;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

#card6 {
  animation-name: shuffle;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes shuffle {
  25% {transform: translateX(315px);}
  50% {transform: translateX(0px);}
  100% {opacity: 0;}
}



#join-code {
  height: 25px;
  width: 200px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid black;
}




.scores {
  height: 100%;
  width: 50px;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: brown;
}

.score {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}




/* ---------------------------------------- */
/* -------------- JUDGE PAGE -------------- */
/* ---------------------------------------- */
.judge-main-image{
  display: flex;
  justify-content: center;
  align-items: center;
}

#choose-winner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 30px;
}

#show-winner {
  height: 50vh;
  width: 50vw;
  border-radius: 10px;
  border: 2px solid grey;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index:1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   /* Negative half of height. */
  box-shadow: 0 0 10px grey;
  padding: 20px;
}

#show-winner p {
  font-size: 1.1em;
  text-align: center;
}

#next-round {
  width: 100%;
  position: absolute;
  bottom: 0;
}

#next-round button{
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 0 0 10px 10px;
  height: 2.5em;
}

#winner-caption-btn {
  width: fit-content;
  display: flex;
  align-items: center;
  height: 25px;
}


/* BOX JUDGE CHOOSES IMAGES*/
.judge-images {
  overflow-y: scroll;
  border: 1px solid grey;
  border-radius: 5px;
  height: 400px;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 0 0 7px black;
}

.choose-picture {
  height: 200px;
  cursor: pointer;
  margin: 10px;
  box-shadow: 0 0 5px grey;

}

.choose-picture.active, .choose-picture.active:hover {
  box-shadow: 0 0 15px green;
}

#selected-update {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-size: 1.3em;
}


.choose-picture:hover {
  box-shadow: 0 0 10px black;
  transform: scale(1.05);
}

.judge-images img:active {
  height: 200px;
}

.jumbotron {
  background-color: #f4f3fb !important;
  color: #ffffff;
  margin-bottom: 0px !important;
  /*padding-top: 80px;*/
}





/* ---------------------------------------- */
/* -------------- PLAYER PAGE ------------- */
/* ---------------------------------------- */
.player-status-message {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 25px 0px;
  font-size: 30px;
}


#selected-caption-div {
  height: 100px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#selected-caption-div p {
  font-size: 20px;
  text-align: center;
}


#choose-image {
  width: 97vw;
  height: 2.5em;
}


#choice {
  display: flex;
  animation: ease-in;
  justify-content: center;
}

#chosen-image {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#send-image {
  width: fit-content;
  padding: 0 50px;
  height: 30px;
}

#submit-caption {
  display: flex;
  justify-content: center;
  height: 30px;
}

.card-container-overview {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 350px;
  width: 100vw;
  overflow-x: auto;
}

.card {
  background-color: purple;
  color: white;
  font-size: 1.1em;
  border: 2px solid purple;
  height: 300px;
  min-width: 250px;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  margin: 20px;
}

.card p {
  color: white;
  font-size: 1.4em;
  width: 100%;
}

/*.card img {*/
/*  display: block;*/
/*  margin-top: auto;*/
/*  margin-bottom: auto;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*}*/

button {
  width: 100px;
  height: 70px;
  border-radius: 20px;
}

.header-loading {
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: purple;
  color: white;
  padding: 25px 0;
  font-size: 40px;
  margin-top: 50px;
}

.room-number {
  display: flex;
  justify-content: center;
  width: 100vw;
  color: purple;
  font-size: 40px;
  font-weight: bold;
}

.loader {
  position: fixed;
  z-index: 999;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid purple; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.scene {
  display: inline-block;
  width: 300px;
  height: 350px;
  margin: 40px 0;
  perspective: 600px;
  /*box-shadow: 1px 1px black;*/
}

.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: right;
  transition: transform 1s;
  /*box-shadow: 1px 1px black;*/
}

.flip-card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: black;
  font-size: 40px;
  backface-visibility: hidden;
  border-radius: 5%;
  box-shadow: 5px 5px grey;
}

.card__face--front {
  background: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  box-shadow: 0 0 5px grey;
}


.card__face--back {
  background: purple;
  transform: rotateY(180deg);
  color: white;
  padding: 30px;
  font-size: 18px;
  backface-visibility: hidden;
  box-shadow: 0 0 5px grey;

}