html, body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
/*------------------*/

.container {
  height: 100vh;
  background-color: #00b2ff;
}

.head {
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: #00b2ff;
  color: white;
  padding: 25px 0px;
  font-size: 10px;
}

.maker {
  width: 100vw;
  height: 250px;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 400px;
  width: 100%;
  overflow-x: auto;
}

.card {
  background-color: purple;
  color: white;
  font-size: 1.1em;
  border: 2px solid black;
  height: 300px;
  width: 250px;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  margin: 20px;
}

.card img {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  height: 100%;
}

button {
  width: 100px;
  height: 70px;
  border-radius: 20px;
}

.start-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-header {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-header h1 {
  font-size: 60px;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.start-buttons * {
  margin: 10px;
}

#start-game {
  outline: none;
  border: none;
  color: black;
  width: 150px;
  cursor: pointer;
}

#start-game:hover{
  background-color: beige;
}

#start-game a {
  color: black;
  font-family: 'Roboto', sans-serif;;
}

.player-overview {
  /*position: fixed;*/
  /*bottom: 20px;*/
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100vw;
  flex-wrap: wrap;
}

.player-icon {
  height: 95%;
  width: 95%;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  animation: ease-in;
}

.add-player {
  height: 150px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

.add-player form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.add-player form * {
  margin: 10px;
}

#avatar-button {
  height: 25px;
  width: fit-content;
  padding: 5px 25px;
  display: flex;
  align-items: center;
}

#username-input {
  height: 100px;
  font-size: 50px;
  width: 300px;
  padding: 5px 25px;
  border: none;
  border-bottom: 3px solid white;
  background: none;
  color: white;
  outline: none;
}

#username-input::placeholder {
  color: white;
}

#join-code {
  height: 25px;
  width: 200px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid black;
}

#join-game {
  outline: none;
  border: none;
  cursor: pointer;
  height: 100px;
  width: 100px;
  padding: 10px;
}

.player-div {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 10px;
}

.scores {
  height: 100%;
  width: 50px;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: brown;
}

.score {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

#choose-avatar-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  background-color: lightgrey;
  border-radius: 50%;
  border: 5px solid white;
  cursor: pointer;
}

.small-avatars {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px;
  border: 5px solid white;
}



.judge-images {
  overflow-y: scroll;
  border: 1px solid black;
  height: 400px;
  padding: 10px;
  margin: 10px;

}

.judge-images img {
  height: 200px;
  cursor: pointer;
}

.judge-images img:hover {
  height: 200px;
  transform: scale(1.05);
}

.judge-images img:active {
  height: 200px;
}

/*#container {*/
/*  width: 80%;*/
/*  !*border-radius: 25px;*!*/
/*  border: 2px solid Black;*/
/*  padding: 15px 15px 15px 15px;*/
/*  margin: 20px 20px 20px 20px;*/
/*  background: #A4D3EE;*/
/*  overflow: visible;*/
/*  box-shadow: 5px 5px 2px #888888;*/
/*  position: relative;*/
/*}*/

#close-button {
  position: absolute;
  background: red;
  color: white;
  top: -10px;
  right: -10px;
}

#avatar-box {
   border-radius: 20px;
   overflow-y: auto;
   display: flex;
   flex-wrap: wrap;
   background-color: purple;
   border: 5px solid white;
   justify-content: space-evenly;
   padding: 20px 30px;
   position: fixed;
   width: 500px;
   height: 250px;
   z-index: 1;
   top: 50%;
   left: 50%;
   margin-top: -100px; /* Negative half of height. */
   margin-left: -250px; /* Negative half of width. */
 }

#avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}


#cancel-submit {
  /*position: relative;*/
  /*bottom: 0;*/
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: grey;
}

.active {
  border: 3px solid green;
}